*{
    margin: 0px;
    padding: 0px;
}
.container{
 max-width: 1140px;
 margin: 0px auto;   
}
.brand{
    float: left;
}
header{
 padding: 25px;
}
header img{
    width: 100px;
    height: auto;
}
nav{
    float:right;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin: 18px;
    color: green;
    font-weight: bold;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
article{
    padding: 50px;
}
.flex{
    display: flex;
    justify-content: space-evenly;
}
.text{
width: 500px;
}
.text h1{
    font-size: 52px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text p{
    font-size: 20px;
    margin-top: 10px;
    font-family: sans-serif;
}
.img img{
    width: 400px;
    border: none;
    border-radius: 50%;
}
.img1 img{
    width: 400px;
    height: 300px;
    margin: 50px;
}
.ftr{
    background-color: rgb(48, 108, 56);
    padding: 25px;
    text-align: center;
    color: grey;
    font-size: 22px;
}