*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    padding:32px;
    background-color: rgb(24, 29, 112);
}
.container{
    max-width: 1140px;
    margin: 0px auto;
}
.brand img{
width: 100px;
}
.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-left: 12px;
}
.bell{
    padding-right: 20px;
}
/* section */
.mysec{
    margin-top: 50px;
}
.panel{
    /* border: 1px solid black; */
    height: 550px;
    border-radius: 12px;
    width: 350px;
    background-color: rgb(161, 211, 244);
}
.bg-img{
    height: 550px;
    /* order: 1px solid black; */
    border-radius: 12px;
    width:700px;
    background-color: rgb(241, 242, 248);
    /* text-align: center; */
}
.bg-img img{
    width: 650px;
    margin:25px;
}
.bg-img h1{
    font-size: 38px;
    margin: 0px 25px;
}
.bg img p{
    margin: 0px 25px;
}
